# =========================
# Python
# =========================
backend/venv/
backend/.env
backend/__pycache__/
backend-express/ml_service/venv/
backend-express/ml_service/.env
**/__pycache__/
*.py[cod]
*.pyo

# =========================
# React / Node.js
# =========================
frontend/node_modules/
backend-express/node_modules/
frontend/dist/

# Ignore all node_modules anywhere (recommended)
node_modules/


# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db